{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div  style="background-color: gainsboro;">
   <div class="py-5 text-center text-white bg-primary">
      <div class="container py-5">
         <div class="row py-5">
               <div class="mx-auto col-lg-10">
                  <h1 class="display-4 mb-4 ">Welcome to AppliVault!</h1>
                  <p class="lead mb-5">Find your dream Tech job at AppliVault! Meet employers, or hire skilled Tech gurus!</p> <a href="{% url 'search' %}" class="btn btn-lg btn-outline-light mx-1">Search for jobs</a> 
               </div>
         </div>
         <p style="font-family: cursive;"><a href="#latest_jobs" style="text-decoration: none; color: aliceblue;">View Latest Jobs</a></p> 

      </div>
   </div>
   
   <div class="container py-5">
      <h1 id="latest_jobs">Latest jobs</h1>  
      <hr>    
      {% for job in jobs %}
         <ul>
            <li>
               <a href="{% url 'job_details' job.id %}" target="_blank"><h2>{{ job.job_name }}</h2></a>
               <ul>
                  <li>POSTED BY:{{ job.job_poster }}</li>
                  <li>Locations:</li>
                     <ul>
                        {% for location in job.job_location %}
                           -{{ location.name }}
                        {% endfor %}
                     </ul>
               </ul>
            </li>
         </ul>
      {% endfor %}   
   </div>
</div>
   
{% endblock %}

