{% extends 'core/base.html' %}

{% block title %}{{ job.job_name }}{% endblock %}

{% block content %}
<div>
    <div  style="background-color: rgb(10, 15, 68); color: aliceblue;">
        <div class="container py-5">
            <br><br><br> 

           <hr>
           <div class="container">
              <ul>
                 <li>
                    <h2>{{ job.job_name }}</h2>
                    <ul>
                       <li>POSTED BY:{{ job.job_poster }}</li>
                       <li>{{ job.company_name }}</li>
                       <li>Locations:</li>
                          <ul>
                            <li>{{ job.job_location.name }}</li>
                          </ul>
                       <li>{{ job.job_alternative_location }}</li>
                       <li>{{ job.company_website_link }}</li>
                       <li>{{ job.experience_level }}</li>
                       <li>{{ job.job_type }}</li>
                       {% if job.job_details %}
                          <li>{{ job.job_details|safe }}</li>
                       {% else %}
                          <i>(Job details not provided...)</i>
                       {% endif %}
                          <li>{{ job.job_application_link }}</li>
                    </ul>
                 </li>
              </ul>
           </div>                  
        </div>
     </div>
</div>
{% endblock %}